@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  padding: 20px 20px;
  background-color: #1a352b;
}

.sectionContainer {
  width: 100%;
  min-width: 1140px;
  min-height: 404px;
  background: #dbf7ee;
  border-radius: 60px;
  overflow: hidden;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.roundedContainer {
  position: relative;
  border-radius: 60px;
}

.imageContainer {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  overflow: hidden;
}

.gradientCircle {
  width: 494px;
  height: 494px;
  top: -588px;
  right: 0;
  border-radius: 247.12px;
  background: linear-gradient(
    135deg,
    rgba(140, 208, 186, 1) 0%,
    rgba(0, 155, 125, 1) 100%
  );
  position: absolute;
  filter: blur(250px);
}

.mainImage {
  position: absolute;
  width: 561px;
  height: 543px;
  top: 0;
  right: 0;
  object-fit: cover;
}

.mobileBottomImage {
  display: none;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 555px;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 40px;
}

.subtitle {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-weight: 500;
  color: #1a352b !important;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.subtitle span {
  max-width: 555px;
  height: 29px;
  color: #1a352b !important;
  font-size: 24px !important;
}

.title {
  max-width: 555px !important;
  min-height: 160px;
  position: relative;
  align-self: stretch;
  font-weight: 700;
  color: #1a352b;
  font-size: 80px;
  letter-spacing: 0;
  line-height: 100px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  margin: 0;
}

.description {
  min-width: 296px;
  min-height: 38px;
  position: relative;
  width: fit-content;
  font-weight: 500;
  color: #1a352b;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  font-family: "Gilroy-Medium", Helvetica, sans-serif;
  margin: 0;
}

.phoneCard {
  min-width: 475px;
  min-height: 87px;
  border: none;
  box-shadow: 0px 0px 20px rgba(37, 45, 42, 0.1);
  width: 100%;
  overflow: hidden;
}

.phoneContainer {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 15px;
  padding: 0 15px;
  height: 87px;
  max-width: 475px;
  box-sizing: border-box;
}

.phoneInputContainer {
  display: flex;
  align-items: center;
  font-size: 10px;
  min-width: 206px;
  min-height: 47px;
}

.phoneInput {
  border: none;
  background: transparent;
  font-weight: 500;
  color: #252d2a;
  font-size: 14px;
  flex-grow: 1;
  outline: none;
  min-width: 0;
  font-family: "Gilroy-Medium", Helvetica, sans-serif;
}

.phoneIcon {
  font-size: 24px;
  color: #252d2a;
  transform: rotate(120deg);
}

.callButton {
  font-size: 14px;
  font-weight: 700;
  line-height: 100;
  padding: 0 25px;
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    rgba(140, 208, 186, 1) 0%,
    rgba(0, 155, 125, 1) 100%
  );
  border: none;
  height: 60px;
  flex-shrink: 0;
  white-space: nowrap;
}

/* Mobile styles */
@media (max-width: 768px) {
  .sectionContainer {
    display: flex;
    flex-direction: column;
    min-width: 335px !important;
    min-height: 592px !important;
  }

  .mainImage {
    width: 100%;
    max-width: 561px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    margin-top: 40px; /* Смещаем чуть ниже центра */
    border-radius: 10px;
    filter: blur(1px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .contentContainer {
    font-size: 18px;
    font-weight: 500 !important;
    width: 100% !important;
    min-height: 19px !important;
    line-height: 100% !important;
    letter-spacing: 0%;
    padding: 20px;
    background: #dbf7ee;
  }

  .mobileBottomImage {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url("/img/mainLeaflet.png");
    background-size: cover;
    background-position: center;
    margin-top: 20px;
  }

  .subtitle {
    color: #1a352b;
    text-align: center;
    width: 100%;
  }

  .subtitle span {
    font-weight: 500;
    min-width: 285px !important;
    height: 29px;
    color: #1a352b !important;
    font-size: 16px !important;
    line-height: 100%;
    letter-spacing: normal;
  }

  .title {
    min-width: 222px;
    display: flex;

    justify-content: center;
    text-align: center;
    font-size: 32px !important;
    line-height: 100%;
    color: #1a352b;
    top: 10px;
  }

  .phoneCard {
    min-width: 286px;
    max-height: 169px;
    border-radius: 10%;
    text-align: center;
    font-size: 10px !important;
    top: 120px;
  }

  .phoneInputContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .phoneInput {
    z-index: 100;
  }

  .callButton {
  }
}
